/* RESET CSS OBLIGATORIO */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e5f6f6;
  color: #333;
  line-height: 1.6;
}

/* Variables del sistema */
:root {
  --primary-color: #212a34;
  --primary-hover: #2c5282;
  --success-color: #2f8285;
  --danger-color: #c53030;
  --warning-color: #dd6b20;
  --gray-light: #ffffff;
  --gray-dark: #4a5568;
}